<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>CIS 422 Group Member Evaluation</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

</head>

<body>
<div class="container">


  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Group Member Evaluation: Teammates</h1>
    </div>
    </div>
<br />

<form id="teammates" method="POST" action="_teammates">


<div class="row">
  <div class="col-md-10">
    <p>This two-page form is for evaluating each member of your team,
  including yourself, on contributions to the project so far.  You
  will be asked to evaluate each member on the following attributes:
    </p>


    <dl>
      <p><strong>Dependable:</strong>
          A <em>dependable</em> team member makes commitments to perform
	some part of the work and can be depended on to finish that work
	competently and on time.
      </dd>
      <p><strong>Constructive:</strong>
        A <em>constructive</em> team member puts the interest of the group
	before personal ambition and ego.  A constructive team member
	participates in discussions in a way that helps lead toward a good
	outcome, rather than trying to show off or gain personal
	advantage. a constructive team member helps the team achieve a good
	result, rather than trying to obtain a result that makes the
	individual look good. 
      </dd>
      <p><strong>Engaged:</strong>
        An <em>engaged</em> team member takes an active
	part in the work of 
	the group, including discussions and individual work. 
      </dd>
      <p><strong>Productive:</strong>
       A <em>productive</em> team member finishes a lot of work, and
	contributes their share of work to the group.  
      </dd>
      <p><strong>Asset:</strong>
        A member is an <em>asset</em> to the group
	if they contribute something of value. Each team member should
	contribute some particular skill or 
	knowledge to the group. For example, a member might be a
	strong asset because of their knowledge of a web technology
	used by the group, or because they are skilled at managing
	meetings, or because they helped other members debug a
	critical problem. 
      </dd>
    </dl>
  </div> <!-- column -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-md-10">
      <p>On this page, please enter
          the URL of your public repository and
          the name of each team member.
    Then you will be taken to a page for entering evaluation for each
    member.</p>
    </div> <!-- column -->
  </div> <!-- row -->
      
 <div class="row">
<div class="col-sm-6">
    <label>Github URL:</label>
    <input type="url" name="repo" size="50"
       placeholder="https://github.com/your_project" required>
    </input>
  </div> <!-- column -->
  </div>

<div class="row">
<div class="col-sm-6">
    <label>Your name:</label>
    <input type="text" name="yourself" size="50"
       placeholder="Firstname Lastname" required>
    </textarea>
  </div> <!-- column -->
</div> <!-- row -->



{% for teammate in [ 1, 2, 3, 4 ] %}
<div class="row">
<div class="col-sm-6">
    <label>Teammate name:</label>
    <input type="text" name="teammate" size="50"
       placeholder="Firstname Lastname">
    </textarea>
  </div> <!-- column -->
</div> <!-- row -->
{% endfor %}

<div class="row">  &nbsp; </div>

<div class="row">
  <div class="col-xs-2">
    <input type="submit" value="Next&gt;" />
  </div> <!-- column -->
</div> <!-- row -->

</form>



 </div> <!-- container -->
</body> </html>
